name: Build & Push Docker Image

on:
  push:
    branches: [main, master]
    tags:
      - '*'

env:
  # Image destination (set langsung)
  REGISTRY: docker.io
  IMAGE_NAME: mafzaidi93/elog-service

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout source
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
        fetch-tag: true

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.23'

    - name: Build Go binary
      run: |
        mkdir -p bin
        go build -ldflags "-s -w" -o bin/elog-service ./cmd/api

    - name: Set image version and commit hash
      id: vars
      run: |
        TAG=$(git describe --tags --abbrev=0 || echo "0.0.0")
        COMMIT=$(git rev-parse --short HEAD)
        echo "tag=$TAG" >> $GITHUB_OUTPUT
        echo "commit=$COMMIT" >> $GITHUB_OUTPUT

    - name: Log in to Docker registry
      run: echo "${{ secrets.DOCKERHUB_TOKEN }}" | docker login ${{ env.REGISTRY }} -u "${{ secrets.DOCKERHUB_USERNAME }}" --password-stdin

    - name: Build Docker image
      run: |
        docker build \
          --build-arg VERSION=${{ steps.vars.outputs.tag }} \
          --build-arg COMMIT=${{ steps.vars.outputs.commit }} \
          -t ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ steps.vars.outputs.tag }} \
          -t ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest .

    - name: Push Docker image
      run: |
        docker push ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ steps.vars.outputs.tag }}
        docker push ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest
    
    - name: Checkout manifest repo
      uses: actions/checkout@v4
      with:
        repository: mafzaidi/elog-service-manifests
        token: ${{ secrets.GH_PAT }}

    - name: Update Helm Chart version
      run: |
        cd manifests/charts/elog
        yq e -i ".appVersion = \"${VERSION}\"" Chart.yaml
        yq e -i ".version = \"${VERSION}\"" Chart.yaml
        yq e -i ".image.tag = \"${VERSION}\"" values.yaml

    - name: Commit and push changes
      run: |
        cd manifests
        git config user.name "github-actions[bot]"
        git config user.email "github-actions[bot]@users.noreply.github.com"
        git add .
        git commit -m "chore: update appVersion to ${VERSION}"
        git push